@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Jost:wght@400;500;700&display=swap"); /* optional */

* {
  @apply text-dark;
}
body {
  background-color: #f5f8fa;
}
footer * {
  @apply text-white;
}

.container {
  @apply max-w-7xl mx-auto px-2;
}
a {
  @apply text-dark underline-offset-2 hover:underline decoration-dark-700;
}
.bar {
  @apply h-[2px] w-40 bg-primary;
}
.btn {
  @apply tracking-wider py-3 px-6 text-white font-medium text-lg bg-primary hover:bg-primary-600 active:bg-primary-700 duration-150;
}
.footer {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}
.custom-select-area label {
  display: none;
}
.custom-select {
  border: none !important;
  box-shadow: none !important;
}

.custom-select .material-tailwind-select {
  border: none !important;
  box-shadow: none !important;
}

.custom-select .material-tailwind-label {
  border: none !important;
}
