@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Jost:wght@400;500;700&display=swap"); */

* {
  @apply text-dark;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #da3f3f !important;
  backdrop-filter: blur(10px);
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
  border: 1px solid #fefefe;
  color: #fefefe !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffb74d !important;
  opacity: 0.6;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #da3f3f !important;
  opacity: 1 !important;
}

/* Ensure custom pagination container is styled */
.swiper-custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container {
  @apply max-w-7xl mx-auto px-2;
}
a {
  /* @apply font-jost text-dark underline-offset-2 hover:underline decoration-dark-700; */
  @apply font-jost text-dark decoration-dark-700;
}

.bar {
  @apply h-[2px] w-40 bg-primary;
}
/* .btn {
  @apply  tracking-wider py-3 px-6 text-white font-medium text-lg bg-primary hover:bg-primary-600 active:bg-primary-700 duration-150;
} */

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  h1 {
    @apply text-7xl;
    /* 72px */
  }
  h2 {
    @apply text-6xl;
    /* 60px  ok*/
  }
  h3 {
    @apply text-5xl;
    /* 48px */
  }
  h4 {
    @apply text-4xl;
    /* 36px */
  }
  h5 {
    @apply text-3xl;
    /* 30px */
  }
  h6 {
    @apply text-2xl;
    /* 24px */
  }
}
@layer utilities {
  .rounded-tl-48 {
    border-top-left-radius: 48%;
  }
  .rounded-tr-48 {
    border-top-right-radius: 48%;
  }
}
